@import "~assets/sass/variables"
@import '~bulma/sass/utilities/mixins'

@font-face
  font-family: 'Noto Serif'
  font-style: normal
  font-weight: 400
  src: url('~/assets/fonts/noto-serif-v4-latin-regular.eot')
  src: local('Noto Serif'), local('NotoSerif'), url('~/assets/fonts/noto-serif-v4-latin-regular.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/noto-serif-v4-latin-regular.woff2') format('woff2'), url('~/assets/fonts/noto-serif-v4-latin-regular.woff') format('woff'), url('~/assets/fonts/noto-serif-v4-latin-regular.ttf') format('truetype'), url('~/assets/fonts/noto-serif-v4-latin-regular.svg#NotoSerif') format('svg')

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: url('~/assets/fonts/poppins-v3-latin-regular.eot')
  src: local('Poppins Regular'), local('Poppins-Regular'), url('~/assets/fonts/poppins-v3-latin-regular.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/poppins-v3-latin-regular.woff2') format('woff2'), url('~/assets/fonts/poppins-v3-latin-regular.woff') format('woff'), url('~/assets/fonts/poppins-v3-latin-regular.ttf') format('truetype'), url('~/assets/fonts/poppins-v3-latin-regular.svg#Poppins') format('svg')

@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 400
  src: url('~/assets/fonts/inconsolata-v15-latin-regular.eot')
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('~/assets/fonts/inconsolata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/inconsolata-v15-latin-regular.woff2') format('woff2'), url('~/assets/fonts/inconsolata-v15-latin-regular.woff') format('woff'), url('~/assets/fonts/inconsolata-v15-latin-regular.ttf') format('truetype'), url('~/assets/fonts/inconsolata-v15-latin-regular.svg#Inconsolata') format('svg')

html, body, #__nuxt, #layout
  height: 100%
  background: $background2

.tippy-tooltip.navigation-theme
  background: $color1
  color: #222
  font-weight: bold
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5)
  font-size: 1em

  [x-arrow]
    border-top: 7px solid transparent
    border-right: 7px solid $color1
    border-bottom: 7px solid transparent

.tippy-tooltip.screw-theme
  background: $background3
  color: white
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5)
  font-size: 1em

  [x-arrow]
    border-top: 7px solid transparent
    border-right: 7px solid $background3
    border-bottom: 7px solid transparent

a
  color: $color1
  text-decoration: none

  &:hover
    color: $color2
    text-decoration: underline

+touch
  .tippy-popper
    display: none

.title
  font-weight: normal
